@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

figure {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: #efefef;
}
figure .banner {
  width: 400px;
  height: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -160px;
  margin-left: -200px;
  transition: 0.5s;
}
figure .banner ul {
  width: 100%;
  height: 100%;
  position: relative;
}
figure .banner ul li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 9999px;
  transition: 1s;
}
figure .banner ul li h2 {
  font: normal 24px/1 "anton";
  color: #ccc;
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  letter-spacing: 2px;
  transition: 1.5s;
}
figure .banner ul li .inner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: inherit;
  background-repeat: inherit;
  background-size: inherit;
  background-position: inherit;
}
figure .banner ul li .inner::before, figure .banner ul li .inner::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: inherit;
  background-repeat: inherit;
  background-size: inherit;
  background-size: center;
  border-radius: 50%;
  transition: 1.5s;
}
figure .banner ul li .inner::before {
  top: 10%;
  left: 2%;
  filter: blur(20px);
  opacity: 0.7;
}
figure .banner ul li a {
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: 0%;
  border-radius: 20px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 1s, bottom 1s, width 0.5s 1s;
}
figure .banner ul li a::before,
figure .banner ul li a span {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 11px/1 "arial";
  color: #fff;
  border-radius: 20px;
  background-image: inherit;
}
figure .banner ul li a span {
  opacity: 0;
  text-indent: -40px;
  transition: 0.5s 1.4s;
}
figure .banner ul li a::before {
  transform: translateY(30%);
  filter: blur(10px) saturate(2);
  opacity: 0.8;
}
figure .banner ul li:nth-of-type(1) {
  transform: translateX(-1220px) scale(0.6);
}
figure .banner ul li:nth-of-type(1) .inner::before,
figure .banner ul li:nth-of-type(1) .inner::after {
  transform: rotate(-150deg);
}
figure .banner ul li:nth-of-type(2) {
  transform: translateX(-820px) scale(0.6);
}
figure .banner ul li:nth-of-type(2) .inner::before,
figure .banner ul li:nth-of-type(2) .inner::after {
  transform: rotate(-100deg);
}
figure .banner ul li:nth-of-type(3) {
  transform: translateX(-440px) scale(0.6);
}
figure .banner ul li:nth-of-type(3) .inner::before,
figure .banner ul li:nth-of-type(3) .inner::after {
  transform: rotate(-50deg);
}
figure .banner ul li:nth-of-type(4) {
  opacity: 1;
  transform: translateX(0px) scale(1);
}
figure .banner ul li:nth-of-type(4) h2 {
  font-size: 14vw;
  opacity: 0.4;
  color: #fff;
  top: -20vh;
  letter-spacing: 0px;
}
figure .banner ul li:nth-of-type(4) .inner::before,
figure .banner ul li:nth-of-type(4) .inner::after {
  transform: rotate(0deg);
}
figure .banner ul li:nth-of-type(4) a {
  opacity: 1;
  bottom: -18%;
  width: 200px;
}
figure .banner ul li:nth-of-type(4) a span {
  opacity: 1;
  text-indent: 0px;
}
figure .banner ul li:nth-of-type(4) a.off {
  opacity: 0;
}
figure .banner ul li:nth-of-type(5) {
  transform: translateX(440px) scale(0.6);
}
figure .banner ul li:nth-of-type(5) .inner::before,
figure .banner ul li:nth-of-type(5) .inner::after {
  transform: rotate(50deg);
}
figure .banner ul li:nth-of-type(6) {
  transform: translateX(820px) scale(0.6);
}
figure .banner ul li:nth-of-type(6) .inner::before,
figure .banner ul li:nth-of-type(6) .inner::after {
  transform: rotate(100deg);
}
figure .banner ul li:nth-of-type(7) {
  transform: translateX(1220px) scale(0.6);
}
figure .banner ul li:nth-of-type(7) .inner::before,
figure .banner ul li:nth-of-type(7) .inner::after {
  transform: rotate(150deg);
}
figure .btns {
  position: absolute;
  bottom: 13vh;
  right: 10vw;
  display: flex;
  gap: 50px;
  transition: 0.5s;
}
figure .btns > * {
  cursor: pointer;
  width: 120px;
  height: 36px;
  border-radius: 18px;
  background: #999;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  font: 12px/1 "arial";
  letter-spacing: 1px;
  color: #fff;
  transition: 0.5s;
}
figure .btns > *:hover {
  width: 150px;
  background: #555;
}
figure .btns.off {
  right: 5vw;
  opacity: 0;
}
figure .pop {
  width: 50vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: -50vw;
  background: rgba(0, 0, 0, 0.05);
  border-right: 1px solid rgba(0, 0, 0, 0.02);
  backdrop-filter: blur(10px);
  padding: 22vh 5vw 10vh 6vw;
  transition: 0.5s 0s;
}
figure .pop h2 {
  font: 12vw/1 "anton";
  color: #fff;
  margin-bottom: 40px;
  opacity: 0;
  transform: translateX(-100px);
  transition: 1s 0.3s;
}
figure .pop p {
  font: 22px/1.2 "arial";
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 50px;
  opacity: 0;
  transform: translateX(-100px);
  transition: 0.5s 0.8s;
}
figure .pop .close {
  display: flex;
  width: 200px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  font: bold 14px/1 "arial";
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.5s;
}
figure .pop .close:hover {
  background: #fff;
  color: #777;
}
figure .pop.on {
  left: 0;
}
figure .pop.on h2,
figure .pop.on p,
figure .pop.on .close {
  opacity: 1;
  transform: translateX(0px);
}

/*# sourceMappingURL=style.css.map */
