@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

$size: 400px;
$gap: 20px;
$deg: 50deg;

header {
	width: 88vw;
	height: 120px;
	position: absolute;
	top: 0;
	left: 6vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 3;

	h1 {
		font: bold 24px/1 'arial';
		color: #777;
		transition: 0.5s;
	}
	#gnb {
		display: flex;
		gap: 70px;
		font: 14px/1 'arial';
		letter-spacing: 1px;
		color: #888;
	}
	.fa-bars {
		font-size: 24px;
		color: #999;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		display: none;
	}
}

figure {
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
	background: #efefef;

	.banner {
		width: $size;
		height: $size;
		position: fixed;
		top: 50%;
		left: 50%;
		margin-top: calc(-1 * $size / 2.5);
		margin-left: calc(-1 * $size / 2);
		transition: 0.5s;

		ul {
			width: 100%;
			height: 100%;
			position: relative;

			//common banner style
			li {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0.7;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: 9999px;
				transition: 1s;

				h2 {
					font: normal 24px/1 'anton';
					color: #ccc;
					position: absolute;
					top: 120%;
					left: 50%;
					transform: translateX(-50%);
					letter-spacing: 2px;
					transition: 1.5s;
				}

				.inner {
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					background-image: inherit;
					background-repeat: inherit;
					background-size: inherit;
					background-position: inherit;

					&::before,
					&::after {
						content: '';
						position: absolute;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
						background-image: inherit;
						background-repeat: inherit;
						background-size: inherit;
						background-size: center;
						border-radius: 50%;
						transition: 1.5s;
					}
					&::before {
						top: 10%;
						left: 2%;
						filter: blur(20px);
						opacity: 0.7;
					}
				}

				a {
					position: absolute;
					width: 40px;
					height: 40px;
					bottom: 0%;
					border-radius: 20px;
					left: 50%;
					transform: translateX(-50%);
					opacity: 0;
					transition: opacity 1s, bottom 1s, width 0.5s 1s;

					&::before,
					span {
						content: '';
						width: 100%;
						height: 100%;
						position: absolute;
						top: 0;
						left: 0;
						display: flex;
						justify-content: center;
						align-items: center;
						font: 11px/1 'arial';
						color: #fff;
						border-radius: 20px;
						background-image: inherit;
					}
					span {
						opacity: 0;
						text-indent: -40px;
						transition: 0.5s 1.4s;
					}
					&::before {
						transform: translateY(30%);
						filter: blur(10px) saturate(2);
						opacity: 0.8;
					}
				}
			}

			//custom style
			li {
				&:nth-of-type(1) {
					transform: translateX(-($size * 3 + $gap)) scale(0.6);

					.inner::before,
					.inner::after {
						transform: rotate(-$deg * 3);
					}
				}
				&:nth-of-type(2) {
					transform: translateX(-($size * 2 + $gap)) scale(0.6);

					.inner::before,
					.inner::after {
						transform: rotate(-$deg * 2);
					}
				}
				&:nth-of-type(3) {
					transform: translateX(-($size * 1 + $gap * 2)) scale(0.6);

					.inner::before,
					.inner::after {
						transform: rotate(-$deg * 1);
					}
				}
				//active panel
				&:nth-of-type(4) {
					opacity: 1;
					transform: translateX(0px) scale(1);

					h2 {
						font-size: 14vw;
						opacity: 0.4;
						color: #fff;
						top: -20vh;
						letter-spacing: 0px;
					}

					.inner::before,
					.inner::after {
						transform: rotate($deg * 0);
					}

					a {
						opacity: 1;
						bottom: -18%;
						width: 200px;

						span {
							opacity: 1;
							text-indent: 0px;
						}
						&.off {
							opacity: 0;
						}
					}
				}
				&:nth-of-type(5) {
					transform: translateX($size * 1 + $gap * 2) scale(0.6);

					.inner::before,
					.inner::after {
						transform: rotate($deg * 1);
					}
				}
				&:nth-of-type(6) {
					transform: translateX($size * 2 + $gap) scale(0.6);

					.inner::before,
					.inner::after {
						transform: rotate($deg * 2);
					}
				}
				&:nth-of-type(7) {
					transform: translateX(($size * 3 + $gap)) scale(0.6);

					.inner::before,
					.inner::after {
						transform: rotate($deg * 3);
					}
				}
			}
		}
	}

	.btns {
		position: absolute;
		bottom: 13vh;
		right: 10vw;
		display: flex;
		gap: 50px;
		transition: 0.5s;

		> * {
			cursor: pointer;
			width: 120px;
			height: 36px;
			border-radius: 18px;
			background: #999;
			box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
			display: flex;
			justify-content: center;
			align-items: center;
			font: 12px/1 'arial';
			letter-spacing: 1px;
			color: #fff;
			transition: 0.5s;

			&:hover {
				width: 150px;
				background: #555;
			}
		}

		&.off {
			right: 5vw;
			opacity: 0;
		}
	}

	.pop {
		width: 50vw;
		height: 100%;
		position: absolute;
		top: 0;
		left: -50vw;
		background: rgba(0, 0, 0, 0.05);
		border-right: 1px solid rgba(0, 0, 0, 0.02);
		backdrop-filter: blur(10px);
		padding: 22vh 5vw 10vh 6vw;
		transition: 0.5s 0s;

		h2 {
			font: 12vw/1 'anton';
			color: #fff;
			margin-bottom: 40px;
			opacity: 0;
			transform: translateX(-100px);
			transition: 1s 0.3s;
		}
		p {
			font: 22px/1.2 'arial';
			color: #fff;
			letter-spacing: 1px;
			margin-bottom: 50px;
			opacity: 0;
			transform: translateX(-100px);
			transition: 0.5s 0.8s;
		}
		.close {
			display: flex;
			width: 200px;
			height: 40px;
			justify-content: center;
			align-items: center;
			border: 2px solid #fff;
			font: bold 14px/1 'arial';
			color: #fff;
			letter-spacing: 1px;
			cursor: pointer;
			transition: 0.5s;

			&:hover {
				background: #fff;
				color: #777;
			}
		}
	}

	.pop.on {
		left: 0;

		h2,
		p,
		.close {
			opacity: 1;
			transform: translateX(0px);
		}
	}
}

@media screen and (max-width: 1199px) {
	header {
		#gnb {
			display: none;
		}
		.fa-bars {
			display: block;
		}
	}

	figure {
		.banner {
			ul {
				li:nth-of-type(4) {
					transform: translateX(0px) scale(0.7);

					h2 {
						top: -20vh;
						font-size: 37vw;
					}
					a {
						width: 100%;
						bottom: -25%;
					}
				}
			}
		}

		.btns {
			bottom: 6vh;
			width: 100%;
			justify-content: center;
			gap: 20px;
			right: 0vw;
		}

		.pop {
			width: 80vw;
			left: -80vw;

			h2 {
				font-size: 20vw;
			}
			p {
				font-size: 16px;
				letter-spacing: 0px;
			}
			.close {
				width: 100%;
			}
		}
	}
}
